body {
  height: 100dvh;
  background-color: #1b1b1b;
  // display: grid;
  // place-items: center;
}

//커서 참고 url
// https://velog.io/@bangina/%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4-%EA%BF%80%ED%8C%81-%EB%A7%88%EC%9A%B0%EC%8A%A4%EC%BB%A4%EC%84%9C-%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98-%EB%A7%8C%EB%93%A4%EA%B8%B0%EC%89%AC%EC%9B%80
.mouse_cursor {
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
  border: 1px solid #606060;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
}

.nav {
  //alt z = rem to px

  min-height: 56px;
  // background-color: #ff0000;
  background-color: #1b1b1b;
  color: #d2d2d2;
  // font-size: 16px;
  padding-inline: 3.75rem;
  // padding-inline: 30px;
  // padding-block: 50px;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &__logo {
    font-size: 1rem;
    // font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
  }
  &__logo:hover {
    transform: scale(1.1);
    text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
  }
  &__right {
    display: flex;
    gap: 1.625rem;
    // gap: 1rem;

    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    transition: 0.3s ease;
    // transition: 300ms ease-out;
    // border-bottom: 3px solid transparent;
  }
  &__right a {
    padding: 0.75rem;
    border-radius: 62.4375rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    // text-decoration: none;
  }
  &__right a:hover {
    // color: red;

    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: 62.4375rem;
    color: #1b1b1b;
    background-color: #d2d2d2;
    font-weight: 800;
    box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
    // box-shadow: 0rem 0rem 1rem 0rem rgba(255, 255, 255, 0.5);

    // border-bottom: 3px solid #d2d2d2;
  }
}

.container {
  // padding-inline: 7.5rem;

  color: #d2d2d2;
  width: 40em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // position: absolute;
  // top: 35%;
  // right: 5%;
  // transform: translateY(-50%);
  // margin-left: auto;
  // height: 500px;
  // padding-top: 12rem;
}
.text {
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  background-color: #1b1b1b;
  padding-inline: 4rem;
  padding-block: 5rem;
}
.poem {
  padding-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 180%;
}

.info {
  font-size: 1rem;
  font-weight: 600;
  line-height: 180%;
  padding-bottom: 6.25rem;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}
