body {
  width: 100%;
  height: 3000dvh;
  background-color: #1b1b1b;
}

.mouse_cursor {
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  -webkit-backdrop-filter: sepia(20%);
          backdrop-filter: sepia(20%);
  background-size: cover;
  border: 1px solid #606060;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  min-height: 56px;
  background-color: #1b1b1b;
  color: #d2d2d2;
  padding-inline: 3.75rem;
  padding-block: 2rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.nav__logo {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav__logo:hover {
  transform: scale(1.1);
  text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
}
.nav__right {
  display: flex;
  gap: 1.625rem;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.nav__right a {
  padding: 0.75rem;
  border-radius: 62.4375rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.nav__right a:hover {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 62.4375rem;
  color: #1b1b1b;
  background-color: #d2d2d2;
  font-weight: 800;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  z-index: 0;
  pointer-events: none;
}

.gallery {
  position: fixed;
  width: 200%;
  height: 100%;
  left: -75%;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 80px;
  cursor: pointer;
}

.item p {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #d2d2d2;
}

.item p span {
  padding: 0 20px;
  font-size: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50em;
  height: 40rem;
  padding: 30px;
  margin-inline: auto;
  position: fixed;
  top: 50%;
  left: 55%;
  color: #d2d2d2;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  max-width: 80%;
  text-align: center;
  z-index: 10;
}

.sentence {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  hanging-punctuation: first;
}

.description {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8;
  color: #c8c8c8;
  opacity: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

.highlight {
  color: red;
  font-weight: 800;
}

.descriptionHighlight {
  font-weight: 700;
}

::-webkit-scrollbar {
  display: none;
}