body {
  height: 100dvh;
  background-color: #1b1b1b;
}

.mouse_cursor {
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  -webkit-backdrop-filter: sepia(20%);
          backdrop-filter: sepia(20%);
  background-size: cover;
  border: 1px solid #606060;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  min-height: 56px;
  background-color: #1b1b1b;
  color: #d2d2d2;
  padding-inline: 3.75rem;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.nav__logo {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav__logo:hover {
  transform: scale(1.1);
  text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
}
.nav__right {
  display: flex;
  gap: 1.625rem;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.nav__right a {
  padding: 0.75rem;
  border-radius: 62.4375rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.nav__right a:hover {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 62.4375rem;
  color: #1b1b1b;
  background-color: #d2d2d2;
  font-weight: 800;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 10rem;
  padding-bottom: 4.5rem;
  color: #d2d2d2;
  text-align: center;
}

.container {
  padding-left: 6.25rem;
  padding-right: 4.75rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-inline: auto;
  padding-bottom: 2.5rem;
}

.scroll_container {
  position: relative;
  height: 100vh;
  overflow-y: overlay;
}

.scroll_container::-webkit-scrollbar {
  display: inline-block;
  width: 1.5rem;
}

.scroll_container::-webkit-scrollbar-thumb {
  outline: none;
  background: #606060;
  border-radius: 20px;
  border: 8px solid #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

.scroll_container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.scroll_container::-webkit-scrollbar-button:vertical:start:decrement,
.scroll_container::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 60px;
}