.card {
  height: 31.25rem;
  font-size: 1.125rem;
  line-height: 150%;
  background-color: #1f1f1f;
  border: 2px solid #606060;
  border-radius: 0.75rem;
  color: #d2d2d2;
  padding-inline: 28px;
  padding-block: 28px;
  display: grid;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}
.card .default {
  display: inline;
}
.card .hover {
  display: none;
}
.card__title {
  font-size: 1rem;
  font-weight: 600;
  border-top: 1px solid #606060;
  padding-top: 0.9375rem;
}
.card__text {
  font-size: 1.25rem;
  font-weight: 700;
  align-self: center;
  justify-self: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.card__number {
  font-size: 1rem;
  font-weight: 600;
  align-self: end;
}

.card:hover {
  height: 31.25rem;
  font-size: 1.125rem;
  line-height: 150%;
  background-color: #e9e9e9;
  border: 2px solid #606060;
  border-radius: 0.75rem;
  color: #1f1f1f;
  padding-inline: 28px;
  padding-block: 28px;
  display: grid;
  box-shadow: 0rem 0rem 2rem rgba(255, 255, 255, 0.3);
  transform: translateY(-10px);
}
.card:hover .default {
  display: none;
}
.card:hover .hover {
  display: inline;
}