.card {
  height: 31.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
  background-color: #1f1f1f;
  border: 2px solid #606060;
  border-radius: 0.75rem;
  color: #d2d2d2;
  padding-inline: 28px;
  padding-block: 28px;
}
.card__title {
  font-size: 1rem;
  font-weight: 700;
}
.card__text {
  font-size: 1.5rem;
  font-weight: 700;
}
.card__number {
  font-size: 1rem;
  font-weight: 700;
}