body {
  height: 100dvh;
  background-color: #1b1b1b;
}
//커서 참고 url
// https://velog.io/@bangina/%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4-%EA%BF%80%ED%8C%81-%EB%A7%88%EC%9A%B0%EC%8A%A4%EC%BB%A4%EC%84%9C-%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98-%EB%A7%8C%EB%93%A4%EA%B8%B0%EC%89%AC%EC%9B%80
.mouse_cursor {
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
  border: 1px solid #606060;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
}
.nav {
  //alt z = rem to px
  width: 100%;
  min-height: 56px;
  // background-color: #ff0000;
  background-color: #1b1b1b;
  color: #d2d2d2;
  // font-size: 16px;
  padding-inline: 3.75rem;
  // padding-inline: 30px;
  // padding-block: 50px;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;

  &__logo {
    font-size: 1rem;
    // font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
  }
  &__logo:hover {
    transform: scale(1.1);
    text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
  }
  &__right {
    display: flex;
    gap: 1.625rem;
    // gap: 1rem;

    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    transition: 0.3s ease;
    // transition: 300ms ease-out;
    // border-bottom: 3px solid transparent;
  }
  &__right a {
    padding: 0.75rem;
    border-radius: 62.4375rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    // text-decoration: none;
  }
  &__right a:hover {
    // color: red;

    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: 62.4375rem;
    color: #1b1b1b;
    background-color: #d2d2d2;
    font-weight: 800;
    box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
    // box-shadow: 0rem 0rem 1rem 0rem rgba(255, 255, 255, 0.5);

    // border-bottom: 3px solid #d2d2d2;
  }
}
.title {
  font-size: 1.75rem;
  font-weight: 700;
  // background-color: aqua;
  padding-top: 10rem;
  padding-bottom: 4.5rem;
  // padding-block: 2.5rem;
  color: #d2d2d2;
  text-align: center;
}

.container {
  // padding-inline: 6.25rem;
  padding-left: 6.25rem;
  padding-right: 4.75rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  // grid-template-columns: 12.5rem repeat(auto-fit, minmax(15rem, 1fr));
  // max-width: 80rem;
  // padding: 0.75rem;
  // background-color: blue;
  margin-inline: auto;
  padding-bottom: 2.5rem;
}

// https://inpa.tistory.com/entry/CSS-%F0%9F%8C%9F-%EC%8A%A4%ED%81%AC%EB%A1%A4-%EB%B0%94Scrollbar-%EA%BE%B8%EB%AF%B8%EA%B8%B0-%EC%86%8D%EC%84%B1-%EC%B4%9D%EC%A0%95%EB%A6%AC#webkit_%EB%B8%8C%EB%9D%BC%EC%9A%B0%EC%A0%80_%EC%8A%A4%ED%81%AC%EB%A1%A4%EB%B0%94_%EC%86%8D%EC%84%B1
//위 사이트를 참고함
.scroll_container {
  position: relative;
  height: 100vh;
  // overflow-y: scroll;
  overflow-y: overlay;
  // background-color: #1b1b1b;
}
.scroll_container::-webkit-scrollbar {
  display: inline-block;
  width: 1.5rem;
}

.scroll_container::-webkit-scrollbar-thumb {
  outline: none;
  background: #606060;
  border-radius: 20px;
  border: 8px solid #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

.scroll_container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.scroll_container::-webkit-scrollbar-button:vertical:start:decrement,
.scroll_container::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 60px;
}
