@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  height: 100dvh;
}
a {
  text-decoration: none;
}
.nav {
  //alt z = rem to px

  min-height: 56px;
  background-color: #1b1b1b;
  color: #d2d2d2;
  // font-size: 16px;
  padding-inline: 60px;
  // padding-inline: 30px;
  padding-block: 50px;
  // padding-block: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &__logo {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
  }
  &__logo:hover {
    transform: scale(1.1);
  }
  &__right {
    display: flex;
    gap: 1.625rem;
    // gap: 1rem;

    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  }
  &__right a {
    padding: 0.75rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    // text-decoration: none;
  }
  &__right a:hover {
    // color: red;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    color: #1b1b1b;
    background-color: #d2d2d2;
    font-weight: 800;
    // border-bottom: 3px solid #d2d2d2;
  }
}
.main {
  // padding-block: 4.5rem;
  // padding-inline: 1.25rem;
  // position: relative;

  background-color: #1b1b1b;
  width: 18.75rem;
  height: 18.75rem;
  margin-inline: auto;
  position: absolute;
  top: 50%;
  left: 50% // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    &__text {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    &-question {
      color: #d2d2d2;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 0.05em;
    }

    &-animaiton {
      color: #d2d2d2;
      font-size: 1.25rem;
      font-weight: 700;
      padding-top: 2.625rem;
    }
  }
}

// .main {
//   display: grid;
//   grid-template-columns: repeat(12, minmax(0, 1fr));
//   column-gap: 24px;
//   max-width: 1280px;
//   height: calc(100% - 56px);
//   padding-inline: 60px;
//   margin-inline: auto;
//   background-color: red;

//   &__left {
//     grid-column: 1 / span 4;
//     background-color: blue;
//   }

//   &__right {
//     grid-column: 5 / -1;
//     background-color: green;
//   }
// }
