body {
  height: 100dvh;
  background-color: #1b1b1b;
}

a {
  text-decoration: none;
}

.nav {
  min-height: 56px;
  background-color: #1b1b1b;
  color: #d2d2d2;
  padding-inline: 60px;
  padding-block: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.nav__logo {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav__logo:hover {
  transform: scale(1.1);
}
.nav__right {
  display: flex;
  gap: 1.625rem;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.nav__right a {
  padding: 0.75rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.nav__right a:hover {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  color: #1b1b1b;
  background-color: #d2d2d2;
  font-weight: 800;
}

.main {
  background: transparent;
  border: 1px solid #262626;
  border-radius: 0.625rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  box-shadow: 0 0 20px #121212;
  width: 18.75rem;
  height: 18.75rem;
  margin-inline: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}
.main__text {
  text-align: center;
}
.main__text-question {
  color: #d2d2d2;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.main__text-animaiton {
  color: #d2d2d2;
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 2rem;
}